
    .heading{
      background-color: #072640;
      color: rgb(213, 216, 105);
      padding: 20px;
      text-align: center;
      width: 100%;
      font-size: 40px;
    }
  
  .para{
      
    background-color: #161947;
    color: rgb(250, 250, 43);
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 40px;
  
  }
  
  